@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}
:root {
  --green: #006938;
  --white: #ffffff;
  --red: #cd0f2a;
  --grey: #3e3e3e;
  --grey2: #c4c4c4;
}
body {
  font-family: "Raleway", sans-serif;
  background: #f1f5f8;
  background: var(--green);
  height: 100vh;
}
header {
  background: var(--white);
}
button {
  background: var(--red);
  border: none;
  color: var(--white);
  cursor: pointer;
}
button:hover {
  background: black;
}
nav {
  padding: 20px 109px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-section-one img {
  width: 132px;
  height: 44px;
}
.nav-section-two ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 122px;
}
.nav-section-two ul li {
  font-size: 20px;
  color: var(--green);
  font-weight: 500;
  cursor: pointer;
}
.nav-section-two ul li:hover {
  transform: scale(1.1);
}
.nav-section-three i {
  cursor: pointer;
  font-size: 20px;
  padding: 0 36px;
  color: var(--green);
}
.hero-section {
  display: flex;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
  height: 88.4vh;
}
.hero-images {
  position: absolute;
}
.one {
  position: absolute;
  top: -30px;
  left: -880px;
  width: 308px;
  height: 148px;
}
.twos {
  top: 350px;
  left: -768px;
  width: 80px;
  position: absolute;
}
.three {
  top: 28px;
  left: 370px;
  width: 178px;
  position: absolute;
}
.four {
  position: absolute;
  width: 308px;
  height: 148px;
  left: -70px;
  top: 400px;
}
.three-two {
  position: absolute;
  width: 300px;
  left: 550px;
  top: 500px;
  overflow: hidden;
}
.hero-section > * {
  flex-basis: 100%;
}
.hero-section-one {
  padding: 155px 0 0 152px;
}
.hero-section-text h1 {
  font-size: 85px;
  line-height: 90px;
  padding: 0 0 54px 0;
  font-weight: 500;
  color: var(--white);
}
.hero-section-one button {
  padding: 15px 35px;
  font-size: 24px;
}
.two {
  position: relative;
}
.hero-section-two {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.food {
  width: 70%;
  top: -230px;
  position: absolute;
}
.add {
  top: 150px;
  right: 160px;
  width: 10%;
  position: absolute;
  cursor: pointer;
}
.food-packs {
  margin-top: 130px;
  position: relative;
  width: 120%;
  background: var(--white);
  height: 400px;
  border-radius: 250px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
}
.order-menus {
  margin-top: -35px;
  z-index: 2;
  display: flex;
  align-items: center;
  background: var(--white);
  padding: 30px 0 30px 40px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  width: fit-content;
}
select,
input {
  width: 90px;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid var(--grey2);
  font-weight: 400;
  outline: none;
  padding: 0 0px;
}
input {
  width: 55px;
}
h6 {
  font-size: 20px;
  color: var(--grey);
  font-weight: 400;
  border-bottom: 1px solid var(--grey2);
}
.order-menu p {
  font-size: 20px;
  padding: 0 0 15px 0;
  color: var(--grey2);
}
.order-menu {
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid var(--grey2);
}
.order-menu.total,
.order-menu.order {
  border-right: none;
}
.order-menu.order button {
  padding: 12px 25px;
  font-size: 20px;
}
